<div class="c-form__group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= article.title %>" required>
</div>
<div class="c-form__group">
    <label for="description">Description</label>
    <textarea name="description" id="description"><%= article.description %></textarea>
</div>
<div class="c-form__group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown" required><%= article.markdown %></textarea>
</div>

<div class="o-wrap-btn">
    <button class="c-btn c-btn--secondary">
        <a href="/">Cancel</a>
    </button>
    <button type="submit" class="c-btn c-btn--primary">Save</button>
</div>