<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Blog</title>
</head>
<body>
    <div class="o-wrap">
        <div class="c-container">
            <h1 class="c-container__title">Blog Articles</h1>
            <button class="c-btn c-btn--success">
                <a href="/articles/new">New Article</a>
            </button>
            
            <div class="c-container__cards">
                <% articles.forEach(article => { %>
                    <%- include('_card_item', { article: article }) %> 
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>